.footer {
  padding: 55px 0;
  color: #b2b2b2;
  font-size: 14px;
  @include avenir(medium);
}

.contacts {
  margin-bottom: 17px;
}
.color_blue {
  color: #2856b3;
  @include avenir(medium);
}
.contacts__link {
  color: #2856b3;
  &:hover {
    text-decoration: none;
  }
}