@import "_misc/mixin";
@import "_misc/fonts";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  @include avenir(regular);
}

@import 'common/_general';
@import 'common/header';
@import 'common/welcome';
@import 'common/about';
@import 'common/footer';
